%article
  .entry
    %h1.date
      %a{href: entry_path(entry.date)}= entry.date.strftime('%Y/%m/%d')
    %h1{id: part.id}
      %a{href: entry_part_path(entry.date, part.id)}= part.title
    = part
