%article
  %ul#entries
    - entries.each do |entry|
      %li
        %a.entry{href: entry_path(entry.date)}= entry.date.strftime('%Y/%m/%d')
        %ul.titles
          - entry.parts.each do |part|
            %li
              %a.title{href: entry_part_path(entry.date, part.id)}= part.title
