%article.autopagerize_page_element
  %h1.date
    %a{href: entry_path(entry.date)}= entry.date.strftime('%Y/%m/%d')

  %h1{id: article.id}
    %a{href: article_path(entry.date, article.id)}= article.title
  = article

.nav
  .prev
    - if prev_article = article.prev
      %link{href: article_path(prev_article.entry.date, prev_article.id), rel: :prev}

  .next
    - if next_article = article.next
      %link{href: article_path(next_article.entry.date, next_article.id), rel: :next}

.autopagerize_insert_before
