%article
  %ul#entries
    - entries.each do |entry|
      %li
        %a.entry{href: entry_path(entry)}= entry.date
        %ul.titles
          - entry.articles.each do |article|
            %li
              %a.title{href: article_path(article)}= article.title
