%article.article.autopagerize_page_element
  %h1.date
    %a{href: entry_path(entry)}= entry.date

  - unless entry.lede.empty?
    = entry.lede

  - entry.articles.each do |article|
    - if article.actual?
      %h1{id: article.id}
        %a{href: article_path(article)}= article.title

    = article

.nav
  .prev
    - if prev_entry = entry.prev
      %link{href: entry_path(prev_entry), rel: :prev}

  .next
    - if next_entry = entry.next
      %link{href: entry_path(next_entry), rel: :next}

.autopagerize_insert_before
