%article
  %ul#entries
    - entries.each do |entry|
      %li
        %a.entry{href: entry_path(entry.date)}= entry.date.strftime('%Y/%m/%d')
        %ul.titles
          - entry.articles.each do |article|
            %li
              %a.title{href: article_path(entry.date, article.id)}= article.title
