#entries.autopagerize_page_element
  - recent_entries = entries[0..4]
  - recent_entries.each do |entry|
    %article.article
      %h1.date
        %a{href: entry_path(entry)}= entry.date

      - unless entry.lede.empty?
        = entry.lede

      - entry.articles.each do |article|
        - if article.actual?
          %h1{id: article.id}
            %a{href: article_path(article)}= article.title

        = article

  .nav
    .next
      - if next_entry = recent_entries.last.next
        %link{href: entry_path(next_entry), rel: :next}

  .autopagerize_insert_before
