@charset "utf-8";

html {
  height: 100%;
}

body {
  margin: 0 auto 0 auto;
  padding: 0;
  font-family: sans-serif;
  background: #EEE;
  background-image: url("../images/orange/bg_body.jpg");
  background-attachment: fixed;
  height: 100%;
  line-height: 1.5em;
}

#header ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(25,30,10);
}

#header {
  height: 40px;
  background-image: url("../images/orange/bg_header.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0.2em 0 0.2em 1em;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
}

#header h1 {
  color: rgb(77,144,253);
  margin: 0;
  padding-top: 0.2em;
}

#header h1 a {
  color: #FFF;
}

#header ul#menu {
  margin: 0.5em 0 0 0;
  padding: 1em 0 0 2em;
}

#header ul#menu li {
  float: left;
  margin-right: 0.5em;
  background: rgba(255,255,255,0.5);
  padding: 5px;
}

#header ul#menu li a {
  color: #336;
}

#header ul#menu li a:hover {
  color: #09C;
}

#page {
  clear: both;
  margin: 6em auto 0 auto;
  width: 1200px;
  min-height: 100%;
  position: relative;
}

#page #content {
  width: 800px;
}

#page #sidebar {
  width: 250px;
  position: absolute;
  top: 0;
  margin-left: 830px;

  color: #603;
  border: 3px #FFC solid;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 0em 1em 1em 1em;
  background-image: url("../images/orange/bg_entry.jpg");
}

#page #sidebar h3 {
  margin-bottom: 0;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #e4d7b3;
  box-shadow: 0 1px 0 #FFF;
}

#page #sidebar .author {
  margin-top: 0.25em;
}

#page #sidebar .recent-entries ul {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding-left: 0;
  list-style: none;
}

#page #sidebar .recent-entries ul li {
  font-size: 0.9em;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

#page #sidebar .recent-entries ul li a{
  color: #ab4d01;
}

#page #sidebar .recent-entries ul li a:hover{
  color: #ca600a;
}

#page #sidebar .recent-entries .archives {
  text-align: right;
  font-size: 0.9em;
}

#page #sidebar .recent-entries .archives a{
  color: #C00;
}

#page #sidebar .recent-entries .archives a:hover{
  color: #F33;
}

article {
  color: #603;
  border-radius: 10px;
  border: 3px #FFC solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 1em 3em;
  background-image: url("../images/orange/bg_entry.jpg");
  position: relative;
}

article.article {
  margin-top: 60px;
  padding: 2em 3em;
}

article.article ul li {
  list-style-image: url("../images/orange/ic_li01.gif");
}

article p a {
  color: #F30;
}

article p a:hover {
  color: #F93;
}

article .date {
  font-size: 1em;
  text-align: center;
  background-color: #036;
  padding: 10px;
  width: 7em;
  float: right;
  position: absolute;
  top: -24px;
  left: 650px;
}

article .date a {
  color: #FFF;
}

article .date a:visited {
  color: #FFF;
}

article .date a:hover {
  color: #669;
}

article ul#entries {
  list-style: none;
  padding-left: 0;
}

article ul#entries h2 {
  padding-bottom: 0.25em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #e4d7b3;
  box-shadow: 0 1px 0 #FFF;
}

article ul#entries ul {
  list-style: none;
  margin-top: -1.5em;
  padding-left: 3em;
}

article ul#entries > li {
  margin-top: 1em;
}

article img {
  max-width: 100%
}

#entries {
  width: 100%;
}

#comments {
  color: #603;
  border-radius: 10px;
  border: 3px #FFC solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 2em 3em;
  margin: 1em 0 1em 0;
  background-image: url("../images/orange/bg_entry.jpg");
  position: relative;
}

pre {
  background: #EEE;
  color: rgb(0,30,67);
  padding: 1em;
  border-radius: 10px;
  border: 1px #BBB solid;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#footer {
  text-align: center;
  margin: 1em 0 0 0;
  padding: 0.5em 0.5em 0.5em 1em;
  background: #036;
  color: #FFF;
  position: relative;
  bottom: 0;
}

#footer a {
  color: #FFF;
}

#footer a:visited {
  color: #FFF;
}

#footer a:hover {
  color: #669;
}