%article.article
  %h1.date= link_to entry.date, retter_entry_path(entry, format: 'html')

  - if entry.lede.present?
    != entry.lede

  - entry.articles.each do |article|
    %h1[article]
      = link_to article.title, retter_entry_article_path(entry, article, format: 'html')

    != article.body
